/*#region default formatting*/
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0;
    margin-right: 10%;
    margin-bottom: 0;
    margin-left: 10%;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
/*#endregion*/

/*#region Recipes Main*/
.Food_Image {
    height: 200px;
}

.Rating_Star {
    height: 15px;
    width: 80px;
}

.Item_Name{
    font-size: 18px;
    font-weight: bold;
}

.Green_Div {
    display: flex;
    flex-direction: column;
    background-color: #eff7e0;
    max-width: 281px;
    padding: 0px 10px 0px 10px;
    min-height: 100px;
    
}

.Green_Div:not(:first-child) {
    flex-grow: 1;
    
}

.Green_Div > * {
    margin-top: 10px;
}

.Green_Box {
    display: grid;
    width: auto;
    margin-bottom: 0px;
    margin-top: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "star ingredients";
}

.Green_Box p {
    right: 0px;
    grid-area: ingredients;
    text-align: right;
    
}

.Main_Flex{
    display: flex;
    align-items: stretch;
}
.Main_Flex > div {
    padding-right: 15px;
}

/*#endregion*/

/*#region Recipes Detail*/
.detail-grid {
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-areas: "image info" 
                         "main  main";
}
.detail-grid * {
    padding: 0 0 0 8px;
    margin: 0 0 0 0;
}
.detail-grid > img {
        grid-area: image;
        height: 250px;
        width: 300px;
    }
.detail-grid > #info {
    grid-area: info;
}

.detail-grid > #info > h1 {
    font-size: 16px;
    font-weight: bold;
}

.detail-grid > #info > h3 {
    padding-top: 10px;
    font-size: 14px;
}

.detail-grid > #info > p {
    padding-top: 10px;
    font-size: 12px;
}

.detail-grid > #info > h2 {
    padding-top: 10px;
    font-size: 14px;
}



.detail-grid > #main {
    grid-area: main;
}

.Recipe_Detail{
    font-size: 14px;
}

.Main_Text > h2 {
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
}

.Main_Text > ul {
    font-size: 14px;
    padding-left: 40px;
}

.Main_Text > ol {
    font-size: 14px;
    padding-left: 40px;
}



/*#endregion*/

/*#region Recipes table*/
.Table_Rating{
    width: 80px;
    height: 15px;
}
table {
    table-layout: fixed;
    width: 100%;
}
th {
    text-align: center;
    width: 50%;
}
td {
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
}
td > p {
    margin-bottom: 0px;
}

.green-td {
    background-color: #eff7e0;
}

.table-food-img {
    height: 100px;
}

.table-label {
    font-weight: bold;
    text-align: left;
    width: 100px;
}
/*#endregion*/